[submodule "src/libraries/readerwriterqueue"]
	path = src/libraries/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "src/libraries/cppzmq"]
	path = src/libraries/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "src/libraries/libzmq"]
	path = src/libraries/libzmq
	url = https://github.com/zeromq/libzmq.git
