<!doctype html>
<html>
    <h2>Power Options</h2>
    <p>
        <button onclick="sendPowerOption('shutdown')">Shutdown</button>
        <button onclick="location.href =('/get_file/log?file=shutdown.log')">View Shutdown Log</button>
        <p class="power_option_result" style="color:green"></p>
    </p>
    <h2>Software</h2>
    <p>
        
            <select id="APN_TARGET">
            <option value="production">Production</option>
            <option value="development">Development</option>
          </select>
          git tags
        <p class="system_result" style="color:green"></p>
    </p>

    <h2>System Status</h2>
    <h5>System Sensors</h5>
    <p>
        <button onclick="sendAction('gps', 'get_gps_status')">GPS Status</button>
        <button onclick="sendAction('sensor', 'get_power_status')">Power System Status</button>
        <button onclick="sendAction('sensor', 'get_som_status')">SOM Status</button>
        <button onclick="location.href =('/view_chart/get_som_status')">View Temp Chart</button>
        <button onclick="sendAction('sensor', 'get_storage_details')">Storage Details</button>
        <button onclick="sendAction('sensor', 'test_colling_fan')">Test Cooling Fan</button>

        <input type="checkbox" id="SENSOR_STATE" onChange="sensorFanToggle()">Sensor Fan</input>
        <p class="system_result" style="color:green"></p>
    </p>
    <h5>Environmental Sensors</h5>
    <p>
        <button onclick="sendGetEnvData()">All Env Sensors</button>
        <p class="env_result" style="coltemp_statusreen"></p>
        <div class="env_list-parent">
            <table id="env_list-dev"></table>
        </div>
    </p>
    <h2>Settings</h2>
    <h5>WiFi Settings</h5>
    <p>
        <button onclick="getConnectionList()">List Connections</button>
        <button onclick="getSavedConnectionList()">List Saved Connections</button>
    </p>
    <p>
        <button onclick="sendWIFIAction('rescan')">Scan Wifi</button>
        <input type="text" id="NUM_LIST" placeholder="Show First Nth items">
        <button onclick="sendWIFIList()">List WiFi Networks</button>
        <p>
            <input type="text" id="SSID" placeholder="SSID">
            <input type="text" id="PASSWORD" placeholder="password">
            <button onclick="sendWIFIConnect()">Connect</button>
        </p>
        <p>
            <h5>Create a static ip ethernet connection</h5>
            <input type="text" id="STATICNAME" placeholder="Name">
            <input type="text" id="STATICADDRESS" placeholder="IP address">
            <button onclick="createStaticETH()">Create</button>
        </p>
        <p class="wifi_result" style="color:rgb(110, 0, 173)"></p>
        <div class="wifi_list-parent">
            <table id="wifi_list-dev"></table>
        </div>
    </p>
    <h5>Camera Settings</h5>
    <p>
        <p><button onclick="sendStartStream(0)">Start Stream camera 0</button></p>
        <p><button onclick="sendStartStream(1)">Start Stream camera 1</button></p>
        <p><button onclick="sendStartStream(2)">Start Stream camera 2</button></p>
        <p><button onclick="sendStopStream()">Stop Stream</button>
        <button onclick="location.href =('/view_stream')">View Stream</button>
    </p>
    <h5>Data Capture</h5>
    <p>
        <button onclick="sendTakeSample()">Take Sample</button>
        <input type="text" id="WO" placeholder="Take Sample for WO #">
        <p><input type="checkbox" id="DRONE_SAFETY">Drone Safety</p>
        <button onclick="sendGetAction('drone_status')">Status</button>
        <button onclick="sendGetAction('drone_connect')">Connect</button>
        <button onclick="sendGetAction('drone_disconnect')">Disconnect</button>
        <button onclick="sendGetAction('drone_start_mission')">Start Mission</button>
        <button onclick="sendGetAction('drone_capture_photo')">Take Photo</button>
        <button onclick="sendDroneStartIndexAction()">Update Start mission Index</button>
        <input type="text" id="MISSION_INDEX" placeholder="0">
        <form action="/load_mission_file" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type="submit">
        </form>
        <p class="take_sample_result" id="take_sample_result" style="color:green"></p>
    </p>
    <h5>Mission Details</h5>
    <p>             
        <ul>
            <li>
                <select id="APN_TARGET">
                <option value="production">Production</option>
                <option value="development">Development</option>
              </select>
              APN Target
            </li>
            <li><input type="text" id="WO_ID" placeholder="Work order ID#">Work Order ID</li>
            <li><input type="text" id="USER" placeholder="user name">User Name</li>
            <li><input type="text" id="JOB" placeholder="Job#">Job Number</li>
            <li><input type="text" id="COMPANY" placeholder="Company">Company</li>
            <li><input type="text" id="G_STAGE" placeholder="Growth Stage">Growth Stage</li>
            <li><input type="text" id="GROWER" placeholder="Grower">Grower</li>
            <li><input type="text" id="FIELD_NAME" placeholder="Field Name">Field Name</li>
            <li><input type="text" id="CROP_TYPE" placeholder="Crop Type"Crop Type>Crop Type</li>
            <li><input type="checkbox" id="DRONE_MODE">Drone Mode</li>
            <li><input type="checkbox" id="SCOUT_MODE">Scout Mode</li>
        </ul>
        <button onclick="sendCreateMission()">Create/Update Mission</button>
        <p class="mission_result" style="color:green"></p>

        <button onclick="getMissionList()">Get Mission List</button>
        <button onclick="getTmpImgs()">Get Tmp Image List</button>
        <button onclick="getMissionLogs()"> Get Mission Log List </button>
        <div class="mission_list-parent">
            <div id="mission_list-dev"></div>
        </div>
    </p>

    <script src="{{url_for('static', filename='home.js')}}"></script>
</html>



<script>

</script>

<style>
    table, th, td {
    border: 1px solid black;
    }
</style>