<html>
  <head>
    <title>Stream</title>
  </head>
  <body>

    <div class="row">
        
        <img src="{{ url_for('video_feed_0') }}" class="responsive_img">
        <img src="{{ url_for('video_feed_1') }}" class="responsive_img">
        <img src="{{ url_for('video_feed_2') }}" class="responsive_img">

    </div>
    <div class="row">
        <div class="column">
            <ul>
                <li>
                    <button onclick="sendStartStream()">Start Stream</button>
                    <button onclick="sendStopStream()">Stop Stream</button>
                </li>
              
                <li>
                    <label for="metering_drop">Metering:</label>
                    <select name="metering_drop" id="metering_drop">
                        <option value="average">Average</option>
                        <option value="spot">Spot</option>
                        <option value="backlit">Backlit</option>
                        <option value="matrix">Matrix</option>
                    </select>
                </li>
                <li>
                    <label for="brightness_slider">Brightness:   </label>
                    <input name="brightness_slider" id="brightness_slider" type="range" min="1" max="255" value="50" class="slider" id="myRange">
                </li>
                <li>
                    <label for="gain_slider">Gain:   </label>
                    <input name="gain_slider" id="gain_slider" type="range" min="1" max="128" value="50" class="slider" id="myRange">
                </li>
                <li>
                    <label for="exp_slider">Expo:</label>
                    <input name="exp_slider" id="exp_slider" type="range" min="1" max="10000" value="50" class="slider" id="myRange">        
                </li>
                <li>
                    <label for="focus_slider">Focus</label>
                    <input name="focus_slider" id="focus_slider" type="range" min="1" max="255" value="50" class="slider" id="myRange">        
                </li>
                <li>
                    <label for="auto_exp_checkbox">Auto Exposure:</label>
                    <input name="auto_exp_checkbox" id="auto_exp_checkbox" type="checkbox">        
                </li>
                <li>
                    <label for="auto_focus_checkbox">Auto Focus:</label>
                    <input name="auto_focus_checkbox" id="auto_focus_checkbox" type="checkbox">        
                </li>
                <li>
                    <label for="backlight_checkbox">Backlight:</label>
                    <input name="backlight_checkbox" id="backlight_checkbox" type="checkbox">        
                </li>
                <li>
                    <button onclick="send_cam_settings()">Send Settings</button>
                </li>
            </ul>
            <p class="result" style="color:green"></p>
        </div>
    </div>

  </body>
</html>

<style>
    .responsive_img  {
        width: 33%;
        height: auto;
    }
    .row {
        display: flex;
    }

    .column {
        flex: flex;
    }

</style>

<script>
    function sendStartStream(){
        let result = document.querySelector('.result');       
        let xhr = new XMLHttpRequest();
        let url = "/action/start_stream";
    
        xhr.open("POST", url, true);
    
        xhr.setRequestHeader("Content-Type", "application/json");
    
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
            }
        };
        var data = JSON.stringify({"socket": "camera", "request": "start_stream" });
        xhr.send(data);
    }
    
    function sendStopStream(){
                    
        let result = document.querySelector('.result');
        
        let xhr = new XMLHttpRequest();
        let url = "/action/stop_stream";
    
        xhr.open("POST", url, true);
    
        xhr.setRequestHeader("Content-Type", "application/json");
    
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
            }
        };
        var data = JSON.stringify({"socket": "camera", "request": "stop_stream" });
        xhr.send(data);
    }

    function send_cam_settings(){
        let result = document.querySelector('.result');

        let gain_value = document.querySelector('#gain_slider'); 
        let metering_drop = document.querySelector('#metering_drop');
        let exp_slider = document.querySelector('#exp_slider'); 
        let focus_slider = document.querySelector('#focus_slider'); 
        let brightness_slider = document.querySelector('#brightness_slider'); 
        let auto_exp_checkbox = document.querySelector('#auto_exp_checkbox');
        let auto_focus_checkbox = document.querySelector('#auto_focus_checkbox')
        let backlight_checkbox = document.querySelector('#backlight_checkbox')
        
        let xhr = new XMLHttpRequest();
        let url = "/action/set_camera_params";

        xhr.open("POST", url, true);

        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                result.innerHTML = this.responseText;
            }
        };

        var data = JSON.stringify({ "params": [{
                                        "exposure": {
                                            "value": parseInt(exp_slider.value)
                                        },
                                        "autoexposureprio": {
                                            "value": 1
                                        },
                                        "autoexposure": {
                                            "value": auto_exp_checkbox.checked
                                        },
                                        "awb": {
                                            "value": 1,
                                        },
                                        "wb_temp": {
                                            "value": 4600
                                        },
                                        "ISO": {
                                            "value": parseInt(gain_value.value)
                                        },
                                        "shutter": {
                                            "value": 0
                                        },
                                        "backlight": {
                                            "value": backlight_checkbox.checked
                                        },
                                        "focus": {
                                            "value": parseInt(focus_slider.value)
                                        },
                                        "autofocus": {
                                            "value": auto_focus_checkbox.checked
                                        },
                                        "metering": {
                                            "value": metering_drop.options[metering_drop.selectedIndex].value
                                        },
                                        "saturation": {
                                            "value": 64
                                        },
                                        "brightness": {
                                            "value": parseInt(brightness_slider.value)
                                        },
                                        "contrast": {
                                            "value": 50
                                        },
                                        "sharpness": {
                                            "value": 50
                                        }
                                    }]
                                });
        xhr.send(data);
    }
   

</script>